<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCMP - Caution</title>

    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="main-container">
        <img src="home-servers.png">
        <p id="text"><i>moodpatcher's container-management platform</i></p>
        <p>This software is a WIP. Use it with caution. Not recommended for production environments.<br><br>
        <b>MCMP is provided as is, without any warranties or guarantees of any kind, either express or implied, to the fullest extent allowed by law.</b></p>
        
        <!-- <a id="begin-button" href="/login" role="button">▶ Login</a> -->
    </div>
</body>
</html>